.inputField {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff10;
  background: transparent;
  border-radius: 8px;
  outline: none;
  color: inherit;
  font-size: 1em;
  transition: ease 0.3s;
  letter-spacing: 1px;
}
.inputTitle {
  position: absolute;
  left: 0;
  padding: 12px;
  text-wrap: nowrap;
  pointer-events: none;
  font-size: 0.9em;
  color: inherit;
  text-transform: uppercase;
  transition: 0.3s;
  border: 0;
}

.inputField:valid ~ .inputTitle,
/* .inputField:invalid ~ .inputTitle, */
.inputField:focus ~ .inputTitle,
.inputField:disabled ~ .inputTitle {
  color: inherit;
  font-size: 0.6em;
  padding: 0 18px 0 12px;
  letter-spacing: 2px;
}

.inputField:focus {
  border: 1px solid #ffffff90;
}

.inputField:disabled {
  cursor: not-allowed;
}

@media screen and (width < 476px) {
  .inputTitle {
    padding: 15px 12px;
    font-size: 0.7em;
  }
}
