@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  background: url(./assets/cool-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.aside1 {
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.15),
    -15px -15px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background: url(./assets/cool-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.aside2 {
  background: url(./assets/cool-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}
