@tailwind base;
@tailwind components;
@tailwind utilities;

.aside1 {
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.08), -15px -15px 20px #fffb;
  border-radius: 20px;
}
.aside2 {
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.08), -15px -15px 20px #fffb;
  border-radius: 20px;
}

.link {
  background-color: #fcfcfc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.08), -5px -5px 5px #e2e3e4;
  border-radius: 12px;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
}

.link:hover {
}
